
* {
    margin: 0px;
    padding: 0px;
}
:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}
body {
    font-family: 'Poppins', sans-serif;
    display: grid;
}

ul#opc_menu {}
.hero {
    width: 100%;
    height: 100px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
    justify_self: start;
}

.container {
    width: 600px;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--padding-container);
    flex: 1 1 75%;
    order: 2;
}

#tres_rayas {
    width: 60px;
    height: 60px;
}
#barraSuperior {
    background-color: rgb(255,255,255);
    color: rgb(153, 38, 166);
    display: flex;
    align-items: center;
}
#tituloBarraSuperior {
    margin-left: 40px;
}
#main {
    background-color:rgb(153, 38, 166);
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: auto;
    justify_self: stretch;
}
#menuOpciones {
    background-color: rgb(0 0 0);
    height: 100%;
    align_self: start;
    flex: 1 1 0%;
    order: 1;
    visibility: hidden;
    transition-property: flex;
    transition-duration: 1s;
    overflow: auto;
}
.opciones_menu {
    margin-left: 20px;
    margin-top: 10px;
}
#opc_menu {
    margin-top: 50px;
}
.opciones_menu li {
    list-style: none;
    padding: 10px;
}
.opcion label {
    color:rgb(255 255 255);
}
.opcion img {
    width:15px;
    height: 15px;
}
#sub_opc_consultas {
    margin-left: 50px;
    height: 0px;
    visibility: hidden;
}
#sub_opc_informes {
    margin-left: 50px;
    height: 0px;
    visibility: hidden;
}
#sub_opc_formularios {
    margin-left: 50px;
    height: 0px;
    visibility: hidden;
}
#seccion_principal {
    display: flex;
    margin-left:450px;
    height: 100%;
    padding: 20px;
}
.formulario {
    display: block;
    width: 600px;
    height: auto;
    text-align: center;
    margin: 2em 15% 2em 15%;
    visibility: hidden;
    position: absolute;
}
.formulario p {
    margin: 50px 0 0 0;
}
.formulario p input {
    height: 35px;
    width: 300px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.formulario p select {
    height: 65px;
    width: 335px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.actualizar  {
    padding: 1.5em;
    color:rgb(255,255,255);
    background-color: rgb(34,53,85);
    font-family: 'Poppins', sans-serif;
    border-style: none;
    border-radius: 5px;
    margin-top: 50px;
    font-size: 20px;
}
#titulo {
    font-size: 2em;
    color: rgb(255,255,255);
    margin: 50px 0 100px 0;
}
td {
    padding: 0.5em 2em;
    background-color: rgb(13,38,81);
    color:rgb(255,255,255);
}
.nombreCampos td{
    padding: 0.5em 2em;
    background-color: rgb(90, 30, 100);
    color:rgb(255,255,255);
}
table {
    margin-left:4px;
}
